$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$background-color: #efefef;
$heart-start: white;
$heart-end:$colour-secondary;
$gradient-color: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
$lighter-gradient: linear-gradient(to bottom, #9356dc 0%, #ff79da 50%);
$margin-bottom: 0.5rem; 