header
{
    width: 100%;
    & h1 
    {
        font-family: 'Shrikhand';
        text-align: center;
    }
}
.menu-header
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    & i 
    {
        text-align: left;
        color: black;
    }
    & h1 
    {
        margin-right: 3rem;
        @media (min-width: 750px) {
            margin-right: 25%;
            font-size: 2rem;
        }
    }
}